@using HairSalon.Models;
@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<h4>Stylist: @Html.DisplayFor(model => model.Name)</h4>
<h4>Phone Number: @Html.DisplayFor(model => model.PhoneNumber)</h4>
<h4>Expertise: @Html.DisplayFor(model => model.ExpertiseNotes)</h4>
<h4><strong>Hire Date:</strong> @Html.DisplayFor(model => model.HireDate)</h4>

<hr />
<h3>Clients for @Html.DisplayFor(model => model.Name):</h3>
<ul>
@if (@Model.Clients.Count == 0)
{
  <p>No Clients Found</p>
}
@foreach (Client client in @Model.Clients)
{
  <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</li>  
}
</ul>
<br>
<p>@Html.ActionLink("Edit Stylist", "Edit", null, new { id = Model.StylistId}, new { @class = "btn btn-success btn-sm" }) </p>
<p>@Html.ActionLink("Delete Stylist", "Delete", null, new { id = Model.StylistId}, new { @class = "btn btn-danger btn-sm" })</p>