@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<div class="spacer"></div>
<h4>Add a new Client:</h4>

@using (Html.BeginForm())
{
  <h4>Enter client's name:</h4>
  @Html.LabelFor(model => model.Name, "Full Name:")
  @Html.TextBoxFor(model => model.Name, 
  new {@required="required"})
  <br>
  @Html.LabelFor(model => model.PhoneNumber, "Phone #:")
  @Html.TextBoxFor(model => model.PhoneNumber, 
  new {@required="required"})  
  <br>
  @Html.LabelFor(model => model.Address, "Address:")
  @Html.TextBoxFor(model => model.Address, 
  new {@required="required"})  
  <br>
  @Html.LabelFor(model => model.Email, "Email:")
  @Html.TextBoxFor(model => model.Email, 
  new {@required="required"})
  <br>
  @Html.LabelFor(model => model.StylingNotes, "Styling:")
  @Html.TextBoxFor(model => model.StylingNotes, 
  new {@required="required"})
  <br>
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId", null, "Please Select", htmlAttributes: new{required = "Please select a stylist"})
  <br><br>

  <input type="submit" value="Add Client" class="btn btn-success btn-sm"/>
}
<br>
<p>@Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn btn-info btn-sm" })</p>