@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client
<h4>Add a new Client:</h4>

@using (Html.BeginForm())
{
  <h4>Enter client's name:</h4>
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, 
  new {@required="required"})
  <h4>What stylist does this client go to?</h4>
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId", null, "Please Select", htmlAttributes: new{required = "Please select a stylist"})
  <h4>Client's phone number:</h4>
  @Html.LabelFor(model => model.PhoneNumber)
  @Html.TextBoxFor(model => model.PhoneNumber, 
  new {@required="required"})  
  <h4>Client's address:</h4>
  @Html.LabelFor(model => model.Address)
  @Html.TextBoxFor(model => model.Address, 
  new {@required="required"})  
  <h4>Client's email address:</h4>
  @Html.LabelFor(model => model.Email)
  @Html.TextBoxFor(model => model.Email, 
  new {@required="required"})
  <h4>Styling notes for this client:</h4>
  @Html.LabelFor(model => model.StylingNotes)
  @Html.TextBoxFor(model => model.StylingNotes, 
  new {@required="required"})

  <input type="submit" value="Add Client" class="btn btn-success btn-sm"/>
}
<br>
<p>@Html.ActionLink("Show all Clients", "Index", null, null, new { @class = "btn btn-success btn-sm" })</p>