@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Client

<h2>Client Info</h2>
<hr />
<table class="tableClient">
  <tr>
    <th class="name">@Html.DisplayNameFor(model => model.Name)</th>
    <th class="phone">Phone Number</th>
    <th class="address">Mailing Address</th>
    <th class="email">Email Address</th>
    <th class="styling">Styling Notes</th>
  </tr>
  <tr>
    <td>@Html.DisplayFor(model => model.Name)</td>
    <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
    <td>@Html.DisplayFor(model => model.Address)</td>
    <td>@Html.DisplayFor(model => model.Email)</td>
    <td>@Html.DisplayFor(model => model.StylingNotes)</td>
  </tr>
</table>

<br>
<p>@Html.ActionLink("Edit Client Info", "Edit", null, new { id = Model.ClientId }, new { @class = "btn btn-success btn-sm"})</p>
<p>@Html.ActionLink("Delete Client", "Delete", null, new { id = Model.ClientId }, new { @class = "btn btn-danger btn-sm"})</p>